{% extends 'base.html' %} {% block body %}

<h3>About Vertical Tank Maintenance</h3>
<img
  class="picture"
  src="{{ url_for('static', filename='./images/above_ground_vertical_tanks.jpg') }}"
/>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Nullam eget felis eget nunc
  lobortis mattis aliquam faucibus. Praesent tristique magna sit amet. Duis
  ultricies lacus sed turpis tincidunt id aliquet risus. Viverra suspendisse
  potenti nullam ac tortor vitae purus faucibus. Tristique et egestas quis ipsum
  suspendisse ultrices gravida. Sit amet facilisis magna etiam tempor orci. Sed
  velit dignissim sodales ut eu sem integer vitae justo. Quam quisque id diam
  vel quam. Porttitor massa id neque aliquam vestibulum morbi blandit. Facilisis
  leo vel fringilla est. Quam adipiscing vitae proin sagittis nisl rhoncus
  mattis rhoncus. Praesent semper feugiat nibh sed.
  <br />
  

{% endblock %}

