<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
  <h2> Vertical Tank Maintenance </h2>
      <div id="menubar">

      <nav>
      
      <ul id="navlist">
      <li> <a id="homenav" href="./"> Home </a> </li>
      <li> <a id="about" href="./about"> About </a> </li>
      <li> <a id="estimate" href="./estimate"> Estimate </a> </li>
    
      </ul>
      </nav>
      </div>   
  <body>

      {% block body %}
    
      
	  {% endblock %}

  </body>
 
</html>
